---
import Base from '../layouts/Base.astro';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---

<Base title="About · XOwlPost">
  <Fragment slot="head">
    <BaseHead title="About · XOwlPost" description="About XOwlPost and the XO chain." />
  </Fragment>
  <Header />
  <div class="card" style="margin-top: 1.5rem;">
    <h1 style="margin: 0 0 1rem 0;">About</h1>
    <div class="hr" />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Vitae ultricies leo integer malesuada nunc vel risus commodo
      viverra.
    </p>
    <p>
      Morbi tristique senectus et netus. Id semper risus in hendrerit gravida rutrum quisque non
      tellus. Habitasse platea dictumst quisque sagittis purus sit amet.
    </p>
  </div>
  <Footer />
</Base>
